body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-section, .mission-vision-section, .team-section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    color: #665;
}

.team-member {
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(229, 73, 234);
}