body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(220, 214, 223, 0.516);
}

header {
    background-color: rgba(193, 107, 236, 0.516) ;
    color: #000000;
    text-align: center;
    padding: 5px 0;
}
button:hover {
    background-color: #69a8eb;
}
a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: rgb(85, 252, 1);
}